
* {
    margin: 0;
    padding: 0;
  }
  
  .header-container {
    display: flex;
    min-height: 100px;
    background-image: radial-gradient(#3cb371, #2e8b57);
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
  
  .weather,
  .exch-rate {
    display: flex;
    flex-direction: row;
  }
  
  .menu-right {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .rate-img,
  .weather-img {
    width: 45px;
    height: 45px;
  }
  
  .text-1,
  .weather-text,
  .rate-text {
    color: white;
    font-size: 30px;
    font-weight: 700;
  }
  
  .container {
    min-height: 1000px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
    background-color: #2ecc71;
  }
  
  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 360px;
    height: 325px;
    background-color: #3498db;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .task-desc,
  .task-title,
  .task-deadline,
  .task-tag-text,
  .task-status-text,
  .title-of-add-window,
  #error-text,
  #confirm-text,
  .filter-text {
    font-family: Arial, sans-serif;
    word-break: break-all;
  }
  
  .filter-text
  {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
  }
  
  .task-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
  }
  
  .task-desc {
    font-size: 16px;
    color: #333333;
  }
  
  .task-deadline {
    font-size: 14px;
    color: #999999;
    align-self: flex-end;
    font-weight: 700;
  }
  
  .task-tag {
    background-color: #2ecc71;
    height: 20px;
    border-radius: 3px;
  }
  
  .task-tag-text {
    color: #ffffff;
  }
  
  .task-status {
    background-color: #ff7f50;
    height: 20px;
    border-radius: 3px;
  }
  
  .task-status-text {
    color: #ffffff;
  }
  
  .card-bottom {
    display: flex;
    align-items: center;
    gap: 45px;
    position: absolute;
    bottom: 10px;
  }
  
  .task-edit,
  .task-delete {
    width: 30px;
    height: 30px;
  }
  
  .task-edit {
    background-image: url(card-buttons/edit-button-img.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 30px;
  }
  
  .task-delete {
    background-image: url(card-buttons/delete-button-img.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 38px;
  }
  
  .task-add {
    background-image: url(card-buttons/add-button-img.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
  }
  
  .to-do-list {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .get-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .add-task-window {
    align-items: center; 
    max-width: 475px;
    background-color: #f5f5f5;
    margin: auto auto;
    border-radius: 20px;
    border-color: #f39c12;
    background-color: #f39c12;
  }
  
  .input-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .input-text {
    border: none;
    text-align: center;
    font-weight: 700;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
  }
  
  .inside-window {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
  }
  
  .save-and-exit {
    width: 475px;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
  }
  
  .confirm-bottom
  {
    width: 340px;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
  }
  
  .task-save,
  .task-exit,
  #error-exit-button,
  #confirm-yes-button,
  #confirm-exit-button,
  #filter-button,
  #sort-button,
  #show-all {
    align-items: center;
    background-color: #0a66c2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  .title-of-add-window
  {
    font-size: 35px;
    font-weight: 700;
  }
  
  #error-text
  {
    color: #ffff;
  }
  
  .errors-window,
  .confirm-window
  {
    align-items: center; 
    max-width: 350px;
    background-color: #f5f5f5;
    margin: auto auto;
    border-radius: 20px;
    border-color: #e74c3c;
    background-color: #e74c3c;
  }
  
  .id-card-value
  {
    display: none;
  }
  
  .filter-cards
  {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .select-menu
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .select
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .filter-menu
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .filter-checkboxes
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .checkbox-and-text
  {
    display: flex;
    gap: 5px;
  }
  
  .filter-and-show
  {
    display: flex;
    gap: 15px;
  }
  
  @media (max-width: 900px) {
    .header-container, .filter-cards
    {
        flex-direction: column;
        align-items: center;
    }
    .filter-text
    {
        font-size: 14px;
    }
    .add-task-window,.confirm-window,.errors-window
    {
        flex-direction: column;
        width: 300px;
        min-height: 320px;
    }
    .save-and-exit
    {
        width: 300px;
        
    }
    .card
    {
        width: 290px;
    }
    .container
    {
        padding: 5px;
    }
    
  }
